{% extends 'tasks/base.html' %}

{% block title %}Detalles de la Cuenta{% endblock %}

{% block content %}
<h1>Página de detalles de información de miembros</h1>
<p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
<p><strong>Correo electrónico:</strong> {{ user.email }}</p>
<p><strong>Edad:</strong> {{ user.edad }}</p>
<a href="{% url 'edit_account' %}">Editar</a> |
<a href="{% url 'change_password' %}">Cambiar contraseña</a> |
<a href="{% url 'delete_account' %}">Eliminar cuenta</a>
{% endblock %}
